In [12]:
import pandas as pd
from pycaret.regression import setup, compare_models, save_model

# 1. Wczytanie i przygotowanie danych
df = pd.read_csv('Ceny mieszkań.csv', sep=';', encoding='iso-8859-2')

df_long = df.melt(id_vars=df.columns[0], var_name='Okres', value_name='Cena')
df_long.columns = ['Miasto', 'Okres', 'Cena']

df_long[['Rok', 'Kwartał']] = df_long['Okres'].str.extract(r'(\d{4})\s+([IVX]+)\s+kwarta')
df_long.drop(columns=['Okres'], inplace=True)

map_kwartał = {'I': 1, 'II': 2, 'III': 3, 'IV': 4}
df_long['Kwartał'] = df_long['Kwartał'].map(map_kwartał)

df_long['Cena'] = (
    df_long['Cena'].astype(str)
    .str.replace(r'[^\d,]', '', regex=True)
    .str.replace(',', '.')
    .replace('', pd.NA)
    .astype(float)
)
df_long.dropna(inplace=True)

df_long['Rok'] = df_long['Rok'].astype(int)
df_long['Kwartał'] = df_long['Kwartał'].astype(int)

# 2. Konfiguracja PyCaret
exp = setup(
    data=df_long,
    target='Cena',
    categorical_features=['Miasto', 'Rok', 'Kwartał'],
    session_id=123,
    verbose=True
)

# 3. Porównanie modeli i wybór najlepszego
best_model = compare_models()

# 4. Zapisanie modelu do pliku
save_model(best_model, 'model_ceny_mieszkan')

print("Model wytrenowany i zapisany jako 'model_ceny_mieszkan.pkl'")

Processing:   0%|          | 0/77 [00:00<?, ?it/s]

Transformation Pipeline and Model Successfully Saved
Model wytrenowany i zapisany jako 'model_ceny_mieszkan.pkl'